input{
	display: block;
	margin-bottom: 5px;
	width: 150px;
	height: 20px;
}
textarea{
	width: 200px;
	height: 75px;
}
button{
	display: block;
	margin-top: 15px;
	padding: 8px;
	border-radius: 10px;
	background: #a366ff;
	color: black;
}
#message{
	color: blue;
}

#comment{
	color: purple;
}
#my_comment{
	display: block;
	margin-top: 15px;
	padding: 8px;
	border-radius: 10px;
	background: #80ffff;
	color: black;

}
